<div class="container">
<h1>Edit an Idea</h1>

<form action="/ideas/<%= @idea.id %>/update">
  <label for="title">Idea Title</label>
  <input type="text" name="title" id="title" value= "<%= @idea.title %>" class= "form-control">
  <label for="description">Description</label>
  <input type="text" name="description" id="description" value= "<%= @idea.description %>" class= "form-control">
  <br>
      <input type="submit" class= "btn btn-primary">
      <a href="/ideas">cancel</a>
</form>
</div>