<h1>New Idea</h1>

<form action="/create_idea">
  <input type="text" name="title" placeholder="Title" class= "form-control">
  <input type="text" name="description" placeholder="Description" class= "form-control">
  <input type="submit" class= "btn btn-primary">
  <a href="/users">cancel</a>
</form>